
<h2>Lista de clientes</h2>
<button type="button" class="btn btn-primary" [routerLink]="['/cadastro-cliente']">Novo cadastro</button>
<p *ngIf="!clientes"><em>carregando...</em></p>
<p></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="clientes">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobre Nome</th>
      <th>E-mail</th>
      <th>Telefone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.sobreNome }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.telefone }}</td>
      <div>
        <td><button type="button" class="btn btn-success" [routerLink]="['/cadastro-cliente', cliente.id]"><i class="fa fa-pencil"></i></button></td>
        <td><button type="submit" class="btn btn-danger" (click)="excluirCliente(cliente.id)"><i class="fa fa-trash"></i></button></td>
      </div>  
    </tr>
  </tbody>
</table>