<h2>Cadastro de Cliente</h2>

<form #clienteForm="ngForm" (submit)="salvarCadastro()">
    <div class="row">
        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7">Nome</label>
                <input type="text" class="form-control" name="nome" placeholder="informe o nome"
                    [(ngModel)]="cliente.nome" required="true"> 
            </div>
        </div>

        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7">Sobrenome</label>
                <input type="text" class="form-control" name="sobrenome" placeholder="informe o sobrenome"
                    [(ngModel)]="cliente.sobrenome" required="true">
            </div>
        </div>

        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7">Data Nascimento</label>
                <input type="text" class="form-control" name="dataNascimento" placeholder="  /  /    "
                    [(ngModel)]="dataNascimento"
                    (blur)="formatDate(dataNascimento)" >
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="form-control-label mbr-fonts-style display-7">Sexo</label>
            <select name= "tipoSexo" class="form-control"  
                [(ngModel)]="cliente.tipoSexo"                 >
                <option *ngFor="let s of tiposSexo" [ngValue]="s">{{s}}</option>
            </select>
        </div>

        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7">E-mail</label>
                <input type="email" class="form-control" name="email" placeholder="informe o e-mail"
                    [(ngModel)]="cliente.email" >
            </div>
        </div>

        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <label for="telefone" class="form-control-label mbr-fonts-style display-7">Telefone</label>
                <input type="tel" class="form-control" name="telefone" placeholder="(00) 00000-0000"
                    [(ngModel)]="cliente.telefone" mask="(00) 00000-0000">
            </div>
        </div> 
    </div>

    <div class="row row-sm-offset">
        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7">CEP</label>
                <input type="text" class="form-control" name="cep" placeholder="informe o CEP"
                    [(ngModel)]="endereco.cep" mask="00000-000"
                    (blur)="buscarCep(endereco.cep)">
            </div>
        </div>
        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7">Logradouro</label>
                <input type="text" class="form-control" name="logradouro" placeholder="informe o logradouro"
                    [(ngModel)]="endereco.logradouro" >
            </div>
        </div>
        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7">Número</label>
                <input type="tel" class="form-control" name="numero" placeholder="informe o número"
                    [(ngModel)]="endereco.numero">
            </div>
        </div>
        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7">Bairro</label>
                <input type="tel" class="form-control" name="bairro" placeholder="informe o bairro"
                    [(ngModel)]="endereco.bairro" >
            </div>
        </div>
        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7">Complemento</label>
                <input type="tel" class="form-control" name="complemento" placeholder="informe o complemento"
                    [(ngModel)]="endereco.complemento">
            </div>
        </div>
        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7">Localidade</label>
                <input type="tel" class="form-control"  [disabled]="true" name="cidade" 
                    [(ngModel)]="endereco.localidade">
            </div>
        </div>
        <div class="col-md-4 multi-horizontal">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7">UF</label>
                <input type="tel" class="form-control" [disabled]="true" name="uf" 
                    [(ngModel)]="endereco.uf">
            </div>
        </div>
    </div>

    <span class="input-group-btn">
        <button type="submit" class="btn btn-success" 
            [disabled]="!clienteForm.form.valid" 
            >Salvar
        </button>&nbsp;
        <button type="button" class="btn btn-secondary" 
            [routerLink]="['/lista-cliente']"
            >Voltar
        </button>
    </span>

</form>